$color-secundario:#fd9f24;
$max-width:100%;
$bordersubtitulo:2px solid #fd9f24;
$bg-hover:#3eccd1;
$white:#ffffff;
$mobile:320px;
$tablet:768px;
$laptop:1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Oswald',sans-serif;
}



header{
    width:100%;
    /*---LOGO---*/
    .logocontenedor{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;

        a{
            text-decoration: none;
            h1{
                font-size: 6rem;
                color: #ffffff;
                font-family:playball,cursive;

            }
        }

        img{
            width: 100px;
        }

    }
}
    
/*-----------NAV------*/
.navbar{
    background-color: #000000;
    position: relative;
    z-index: 100;


    ul{
        background-color:$color-secundario;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 80%;
        margin: auto;
        @media (max-width:992px){
            border-radius: 0;
            width: 100%;
            background-color: #000000;
    }
    }
        li{
            justify-content: space-around;
        align-items: center;
        
        }
    .nav-item{
        width: 100%;
        text-align: center;
        .nav-link{
            font-size: 1.25rem;
            color: #000000;
            @media (max-width:992px){
             color: $color-secundario;
             width: 100%;
             margin: 5px auto;
             border-radius: 10px;
        }

            &:hover{
                color: $white;
                background-color:$color-secundario;
                border-radius: 9px;
            }
            
        }
    }
    .collapse{
        .dropdown{
            text-align: center;
            width: 100%;
            border-radius: 4px;

            }
            .dropdown-menu{
            background-color: #ffffff;
            width: 100%;
            margin: auto;
            a{
                font-size: 1.1rem;
                color: $color-secundario;
                &:hover{
                    color:#ffffff;
                    background-color: $color-secundario;
                }
            }
            }
        }
    }
    





.section1{
    background-image:url(../multimedia/index/iniciogimnasio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display:none;
    justify-content:left;
    align-items: center;
    @media (min-width:$tablet){
        display: block;;
    }
    .tituloimagen{
        font-size: 4rem;
        color: #ffffff;
        display:flex;
        margin-left: 2rem;
        border: none;
        text-align:left;

        @media (min-width:$laptop){
            font-size: 5rem;
        }
    }

}

.section2{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin:0 auto 20px auto;
    
    @media (min-width:$laptop){
        flex-direction: row;

    }

    .plan1{
        width: 100%;
        margin: 10px auto ;
        text-align: center;
        background-color: #fd9f24;
        overflow: hidden;
        box-shadow: 20px 10px 30px #000000;
        transition: all 1s ease;

        h3{
            font-size:2.6rem;
        }

        h4{
            font-size: 2rem;
            color:#ffffff ;


        }

        p {
            font-size: 1.4rem;
            color: #000000;
            border-bottom: 2px solid rgb(0, 0, 0);
            width: 80%;
            margin:10px auto;
        }


    }

    .plan2{
        width: 100%;
        margin: 10px auto ;
        text-align: center;
        background-color: #131313;
        overflow: hidden;
        box-shadow: 20px 10px 30px #000000;
        transition: all 1s ease;

        h3{
            font-size:2.6rem;
            color: #fd9f24;
        }

        h4{
            font-size: 2rem;
            color:#ffffff ;


        }

        p {
            font-size: 1.4rem;
            color: #ffffff;
            border-bottom: 2px solid white;
            width: 80%;
            margin:10px auto;
        }
    }

}

/*-------BTN--INSCRIPCION*/

.contenedorboton{
    width: 70%;
    text-align: center;
    margin:10px auto;

    .botoninscripcion{
        background-color:#e92828;
        width:100%;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        transition: .5s;
        &:hover{
            background-color:#a51111;
            cursor: pointer;
                }

        a{
            color: #ffffff;
            font-size: 1.5rem;
            text-decoration: none;


        }
    }
}
/*----------NUESTRA--UBICACION---*/
.nuestraubicacion{
    width: 98%;
    margin: 40px auto;
    h2{
        width: 60%;
        margin: 20px auto;
        text-align: center;
        border-bottom: 2px solid #fd9f24;
        border-left: 2px solid #fd9f24;
    }

    .section3{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        @media (min-width:$laptop){
            flex-direction: row;
        }
        .mapa{
            width: 98%;
            margin:auto;
            transition: all 1s ease;
            iframe{
                margin: auto;
                width: 100%;

            }
        }

        .informacion{
            width: 100%;
            text-align: center;
            display: grid;
            transition: all 1s ease;
            @media (min-width:$laptop){
                font-size: 1.5rem;
            }
            .direccion{
                border-left: $color-secundario 2px solid;
                border-bottom: $color-secundario 2px solid;

            }
            .horarios{
                background-color: #d8d6d6;
                border-right:$color-secundario 2px solid;
            }
        }
    }
}
/*-----NUESTROS--GIMNASIOS----*/
.nuestrogimnasio{
    h2{
        width: 60%;
        margin: 20px auto;
        text-align: center;
        border-bottom: 2px solid #fd9f24;
        border-left: 2px solid #fd9f24;
    }
}

/*--SECTION4--*/
#carouselExampleInterval{
    transition: all 1s ease;
    width: 85%;
    margin: auto;
    display: none;
    @media (min-width:$tablet){
        display: block;

    }

}
.lugares{
    text-align: center;
    margin: 20px auto;
    background-color: #e2dede;
    width: 80%;
    .ubicaciones{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img{
            transition: all 1s ease;
            width: 250px;
            margin: 10px 10px;
            &:hover{
                opacity: 0.5;
                transition: 0.8s;
            }
        }
}
}

/*--SECTION5--*/

.section5{
    .subtitulo{
        width: 60%;
        margin: 20px auto;
        text-align: center;
        border-bottom: 2px solid #fd9f24;
        border-left: 2px solid #fd9f24;
    }

    .accordion{
        width: 100%;
        margin: 0 auto 40px auto;

        @media(min-width:$tablet){
            width:90%;
        }
        .accordion-item{

            button{
                font-size: 1.5rem;
                background-color: rgb(209, 210,210);
                color: #000000;
                &:focus{
                    color: $color-secundario;
                }
            }
            .accordion-body1{

            color: #ffffff;
            background-image:url(../multimedia/index/acordion/boxeo.jpg);
            background-size: cover;
            padding: 10px;
            text-align: center;
            height: 150px;
            @media(min-width:$tablet){
                font-size: 1.3rem;
            }
            @media(min-width:$laptop){
                font-size: 1.5rem;
                height: 250px;
                padding: 60px;
            }
            
        }

        .accordion-body2{
            background-image:url(../multimedia/index/acordion/musculacion.jpg);
            background-size: cover;
            color: $white;
            padding: 10px;
            text-align: center;
            height: 150px;
            @media(min-width:$tablet){
                font-size: 1.3rem;
            }
            @media(min-width:$laptop){
                font-size: 1.5rem;
                height: 250px;
                padding: 60px;
            }

        }

        .accordion-body3{
            background-image:url(../multimedia/index/acordion/croosfit.jpg);
            background-size: cover;
            color: #ffffff;
            padding: 10px;
            text-align: center;
            height: 150px;
            @media(min-width:$tablet){
                font-size: 1.3rem;
            }
            @media(min-width:$laptop){
                font-size: 1.5rem;
                height: 250px;
                padding: 60px;
            }

        }
    }
    }
}
/*--EFECTO-BACKGROUND--*/
.background-court{
    width: 100%;
    img{
        width: 100%;

    }
}
/*--PROMOCIONES--*/
.publicidad{
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 210,210);
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    margin: auto;

    h5{
        color: #000000;
        width: 100%;
        text-align: center;
    }
    .promociones{
        width: 100%;
        display: flex;
        justify-content: center;
        .emailpublicidad{
            height: 70px;
            width: 60%;
            border: none;
            font-size: 1.2rem;
            padding: 10px;
            &:focus{
                border:1px solid $color-secundario;
            }
            @media(min-width:$tablet){
                width: 30%;
            }

        }
        .registratepublicidad{
            background-color: #b4b2b2;
            width: 20%;
            border: none;
            &:hover{
                background-color: $color-secundario;
                color: $white;
            }

            @media(min-width:$tablet){
                width: 10%;
            }

        }

    }
}

/*--FOOTER--*/

.footer{
    width: 100%;
    height: 400px;
    background-color: #3a3939;
    border-top: 1px solid #000000;
    .footerpie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h3{
        color: #ffffff;
        margin-top: 10px;
    }

    img{
        width: 100px;
    }

    .informacionfooter{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-self:left;
        text-align: left;
        .columnasfooter{
            display: flex;
            flex-direction: column;
            border-right: 1px solid #525050;
            h4{
                color: $color-secundario;
            }
            a{
                color: #ffffff;
                text-decoration: none;
                text-align:left;
            }
        }

    }

}
/*REDES-SOCIALES*/
.redessociales{
    position: fixed;
    right:2%;
    top:85%;
    display: flex;
    font-size: 1.8rem;
    z-index: 100;
    border-radius: 20px;
    float: right;
    .iconosredes {

        .iconowhatsapp {
            background-color: #25D366;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            &:hover {
                background-color: #000000;
                color: #25D366;
                height: 90px;
                width: 90px;
                
            }

        }
    a{
        text-decoration: none;
        color: white;
        padding: .7rem;
        display: flex;
        transition: all .5s;
    }
}
}

/*--PRODUCTOS*/
.bg-productos{
    background-color: #302f2f;
    width: 100%;
.sectionproductos{
    margin: auto;
    text-align: center;
    width: 80%;
    background-color: #ffffff;
    h2{
        width: 40%;
        border-bottom:$bordersubtitulo;
        border-left:$bordersubtitulo;
        margin: auto;
    }

    .galeriaproductos{  
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        .card{
            width: 150px;
            margin: 40px 40px;
            overflow: hidden;
            height: auto;
            }
            img{
                overflow: hidden;
                &:hover{
                    opacity: 0.6;
                    transition:.5s;
                    cursor:pointer;

                }
                }
            }
            .btn{
                background-color: $color-secundario;
                width: 100%;
                &:hover{
                    color:#ffffff;
                    background-color:$bg-hover;
                }
            }
        }
    }
    
/*--NOSOTROS*/
section{
    width: 100%;
    h2{
        border-bottom: $bordersubtitulo;
        border-left:$bordersubtitulo;
        margin:20px auto;
        width: 40%;
        text-align: center;
    }
    .nuestroteam{
        display: flex;
        flex-wrap: wrap;
        width:90%;
        justify-content: center;
        align-items: center;
        margin: auto;
        .profesores{
            margin: auto;
            text-align: center;
            img{
                display: inline;
                width: 200px;
                background-color: #000000;
                height: 150px;
                border-radius: 100%;
                margin-left: 10px;
                margin-top: 40px;
                border: 2px solid #000000;
            }
    }
    }
    .objetivos{
        width: 80%;
        background-color: #e2e1e1;
        border-radius: 10px;
        margin: auto;
        text-align: center;
    img{
        width: 100%;
        border-radius: 10px;
        display: none;
        margin-bottom: 100px;
        height: 400px;
        @media(min-width:768px){
            display: block;
        }
    }
        h2{
            color: $white;
            border-radius: 20px;
            background-color: $color-secundario;
            width: 100%;
        }
    }
    .valores{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        h3{
            color: black;
            background-color: #f3b96c;
            border-radius: 10px;
            margin: 10px auto;
            width: 180px;
            align-items: center;
        }
    }
}

/*SECTION-FORMULARIO*/
.sectionformulario{
    width: 100%;
    margin: auto;
    text-align: center;
    background-image:url(../multimedia/contactanos/fondocontactanos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    
    

    .form{
        display: flex;
        flex-direction: column;
        background-color: #bdbdbdb9;
        padding: 20px;
        width: 90%;
        margin:auto;
        border-radius: 2px;
        transition: all 1s ease;
        @media(min-width:$tablet){
            width: 50%;
        }
        .cajas{
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 2px;
            border: none;
            border-left: 10px solid #000000;
            transition: all .5s ease;
            &:hover, .cajas:focus{
                border-left: 10px solid $color-secundario;
            }
        }
        h2{
            border-bottom: $bordersubtitulo;
            border-left: $bordersubtitulo;
            width: 100%;
            color: black;
        }
        /*--TERMINOS-Y-CONDICIONES--*/


        .termino1{
            text-align: center;
            color: #000000;
        }

        .termino2{
            color: #000000;
            text-decoration: none;
            font-weight: bold;
        }

        /*--BOTON-DE-REGISTRARSE--*/
        .btn-form{
            width: 100%;
            padding: 15px;
            border-radius: 2px;
            border: none;
            margin: 20px 0;
            font-size: 15px;
            background: #000000;
            color: #ffffff;
            cursor: pointer;
            transition: all .5s ease;
            &:hover{
                background: $color-secundario;
            }
        }
        .tengo-cuenta{
            text-align: center;
            color: #000000;
            font-weight: bold;
            text-decoration: none;
            &:hover{
                color: #ffffff;
            }
        }


    }
    }

